<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      RegistrApp
    </ion-title>
    <ion-card-title>{{ userName }}</ion-card-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-content-centered">
  <img src="assets/icon/logoRegistrApp.png" class="registrapp-image">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size-md="6" size-sm="10" size-xs="12" class="button-container">
        <ion-button expand="block" color="success" (click)="leerCode()">
          Registrar Asistencia
        </ion-button>
        <div *ngIf="datoscaneado">
          <p>
            Asistencia Ok
          </p>s
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-sm="10" size-xs="12">
        <ion-img src="assets/icon/horario.png" class="horario" class="responsive-image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="back-button-container">
    <ion-button color="warning" class="small-back-button" (click)="cerrarSesion()">
      Volver
    </ion-button>
  </div>
</ion-content>

