<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      RegistrApp
    </ion-title>
    <ion-card-title>{{ userName }}</ion-card-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size-md="6" size-sm="10" size-xs="12" class="button-container">
        <ion-button expand="full" color="primary" (click)="mostrarQR()">
          Registrar Asistencia
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row justify-content-center>
      <ion-col size-md="6" size-sm="10" size-xs="12">
        <ion-img src="assets/icon/horario.png" class="responsive-image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
