<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      RegistrApp
    </ion-title>
  </ion-toolbar>
</ion-header>
  <div class="example-content">INICIA SESIÓN</div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="documents"></ion-icon>
        Asignaturas
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="calendar-number"></ion-icon>
        Horario
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>